<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8"/>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script language="javascript" type="text/javascript" src="script.js"></script>
      <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">    
  </head>
  <body>
    <div class="navbar"><span>Wifi enabled thermometer</span></div>
    <div class="wrapper">
        <div id="chart"></div>
        <script>
            function drawGraph() {
                $.getJSON('/api/temperatures', function(data) {
                    // Display Temperatures stored in DB as HTML for development purposes
                    // document.getElementById('dataPoints').innerHTML = JSON.stringify(data['temperatures'], null, 2);
                    let temperatureRecords = data['temperatures']
                    let temperatureDataPoints = []
                    let timeDataPoints = []
                    let startIndex = 0
                    let numDataPoints = temperatureRecords.length
                    if (numDataPoints > 300) {
                        startIndex = (numDataPoints - 299)
                        temperatureRecords = temperatureRecords.slice(startIndex)
                    }
                    temperatureRecords.forEach((temperatureRecord, index) => {
                        timeDataPoints.push(index)
                        temperatureDataPoints.push(temperatureRecord.temperature)
                    });
                    var layout = {
                        title: 'Tempeature Measurements',
                        xaxis: {
                            title: 'Seconds Ago (Seconds)',
                            range: [0, 300],
                            showgrid: false,
                            zeroline: false
                        },
                        yaxis: {
                            title: 'Temperature (Celsius)',
                            range: [10, 50],
                            showline: false
                        }
                    };
                    var data = [{
                        x: timeDataPoints,
                        y: temperatureDataPoints,
                        type: 'line'
                    }];
                    var graphDiv = document.getElementById('chart')
                    Plotly.react(graphDiv, data, layout);
                });
            }
            // Redraw Graph every
            setInterval(function() {
                drawGraph()
            }, 1000);
        </script>
    </div>

    <div id="settings">
        <form class="form-horizontal">
            <fieldset>
            
            <!-- Form Name -->
            <legend class="text-align: center">Settings</legend>
            
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="phone_number">Phone Number</label>  
              <div class="col-md-4">
              <input id="phone_number" name="phone_number" type="text" placeholder="515-555-5555" class="form-control input-md" required="">
              <span class="help-block">hint</span>  
              </div>
            </div>
            
            <!-- Textarea -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="max_temp_alert_message">Alert Message (Max)</label>
              <div class="col-md-4">                     
                <textarea class="form-control" id="max_temp_alert_message" name="max_temp_alert_message"></textarea>
              </div>
            </div>
            
            <!-- Textarea -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="minimum_temp_alert_message">Alert Message (Minimum)</label>
              <div class="col-md-4">                     
                <textarea class="form-control" id="minimum_temp_alert_message" name="minimum_temp_alert_message"></textarea>
              </div>
            </div>
            
            <!-- Password input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="max_temp">Threshold (Max Temp.)</label>
              <div class="col-md-4">
                <input id="max_temp" name="max_temp" type="password" placeholder="50" class="form-control input-md" required="">
                <span class="help-block">hint</span>
              </div>
            </div>
            
            <!-- Password input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="minimum_temp">Threshold (Minimum Temp.)</label>
              <div class="col-md-4">
                <input id="minimum_temp" name="minimum_temp" type="password" placeholder="10" class="form-control input-md" required="">
                <span class="help-block">hint</span>
              </div>
            </div>
            
            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="submit">Save Settings</label>
              <div class="col-md-4">
                <button id="submit" name="submit" class="btn btn-success">Save</button>
              </div>
            </div>
            
            </fieldset>
            </form>
  

    </div>

  </body>
</html>